@import 'src/scss/utils.scss';

.input{
  @include visually-hidden;
}

.optionWrap{
  display: block;
}

.label{
  display: flex;
  justify-content: center;
  align-content: center;
  width: 24px;
  height: 24px;
  background-size: cover;
  cursor: pointer;
}

.input:checked + .onSound{
  background-image: url('/img/sound-on.png');
}

.input:not(:checked) + .onSound  {
  background-image: url('/img/sound-off.png');
}

.input:checked + .onTranslate{
  background-image: url('/img/translate-on.png');
}

.input:not(:checked) + .onTranslate  {
  background-image: url('/img/translate-off.png');
}

.input:checked + .onPicture{
  background-image: url('/img/picture-on.png');
}

.input:not(:checked) + .onPicture  {
  background-image: url('/img/picture-off.png');
}