@import 'src/scss/constant.scss';

.sound{
  cursor: pointer;
  display: inline-block;
  border-radius: 50%;
  margin: 10px;
  width: 24px;
  height: 24px;
}
.soundImg {
  width: 24px;
  height: 24px;
}

.disable{
  cursor: not-allowed;
  opacity: 0.5;
}


