@import 'src/scss/constant.scss';
@import 'src/scss/utils.scss';
@import 'src/scss/colors.scss';
.input {
  border: 1px solid rgb(193, 202, 217);
  border-radius: 15px;
  background: rgb(247, 248, 252);
  padding: 10px 20px;
  color: rgb(52, 83, 121);
  font-family: $font-stack;

  &.success {
    border-color: $color-btn-1;
  }
  &.error {
    border-color: $color-btn-2;
  }
}
input[type="text"]::placeholder {
  color: rgb(196, 219, 244);
  font-family: $font-stack;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}

.errorMessage{
  margin: 5px 0 0 0;
}