@import 'src/scss/constant.scss';
@import 'src/scss/utils.scss';

.hide {
  @include visually-hidden;
}

.text {
  color: rgb(30, 66, 98);
  font-family: $font-stack;
  font-style: italic;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
  margin: 10px;
}

.hintOptions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin: 30px 0;
}

.hint {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 20px;
  background: linear-gradient(90.00deg, rgba(160, 220, 247, 0.2) 1.527%,rgba(250, 158, 201, 0.2) 49.618%,rgba(245, 168, 78, 0.2) 100%);
}

.hintContainer{
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.hintOptionsContainer{
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  margin: 0.6rem 1rem;
}
