
@import 'src/scss/colors.scss';
  .app {
    background: linear-gradient(180.00deg, rgb(204, 228, 254), rgb(160, 220, 247) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    height: 100%;
    margin: 0;
    padding: 0;
  }
